# Ignore Python bytecode
__pycache__/
*.py[cod]

# Ignore virtual environments
.venv/
venv/

# Ignore pytest cache
.pytest_cache/

# Ignore system-specific files (optional)
.DS_Store
Thumbs.db

# Ignore VSCode workspace settings (optional)
.vscode/

# Ignore environment variable files (optional)
.env

.for_me_send_email.py
